<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FSTR_ENABLE_PARTNER_SELECTION</key>
	<true/>
	<key>FSTR_LOGGING_ENABLE</key>
	<true/>
	<key>FSTR_STAGING_SERVER</key>
	<true/>
	<key>FSTR_TEST_ADS</key>
	<true/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>GADIsAdManagerApp</key>
	<true/>
</dict>
</plist>
